* {
    box-sizing: border-box
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,500;1,300&display=swap');

html {
    font-family: 'Raleway', sans-serif;
}


/* HEAD AND HERO */

.full-head {
    /* padding: 30px 80px; */
    background-image: url(./images/Hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    flex-wrap: wrap;
    align-items: center;
    /* border: 2px solid red; */
    /* flex-direction: column; */
}

.logo {
    /* padding: 0px 50px; */
    height: 80px;
    display: inline-flex;
    align-self: flex-start;
}

ul, li, a {
    font-weight: 700;
    list-style: none;
    text-decoration: none;
    color: whitesmoke;
}

ul {
    min-width: 700px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    gap: 50px;
    /* border: 3px solid red; */
}

label img {
    width: 20px;
    filter: invert(100%);
}

.search-bar {
    align-items: end;
    display: flex;
    gap: 20px;
}

#site-search {
    padding: 5px 30px 5px 0px;
    border: 0px solid rgba(255, 255, 255, 0);
    border-bottom: 1px solid white;
    border-radius: 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: rgba(137, 43, 226, 0);
}

::placeholder {
    font-size: 16px;
    color: rgba(245, 245, 245, 0.3);
}

.hero {
    position: relative;
    left: 50px;
    /* border: 3px solid red; */
    padding: 150px 50px;
    color: whitesmoke;
}

h1 {
    font-size: 70px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hero p {
    font-size: 20px;
    margin-bottom: 60px;
}

.h-buttons {
    display: flex;
    gap: 20px;
}

/* SCREENS */

@media only screen and (max-width: 800px) {
    
    .hero {
        position: relative;
        left: 15px;
    }
    
    .hero h1 {
        font-size: 40px;
    }
    .hero p {
        font-size: 15px;
    }

    .hero a {
        font-size: 14px;
        width: 100px;
        padding: 10px 20px;
    }

    .full-head {
        background-position: center;
    }
}


/* COMPANY DESCRIPTION AREA */

.company {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    padding: 50px;
    justify-content: center;
}

.item {
    max-width: 600px;
}

.company-info {
    display: flex;
    flex-direction: column;
}

.company-p-1 {
    font-size: 25px;
    font-style: italic;
}

.company-info h2 {
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.company-p-2 {
    color: #4d4d4d;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
}

.company-img img {
    width: 500px;
}

.company-img {
    height: 500px;
    overflow: hidden;
    filter: drop-shadow(25px 25px 0px #26203f);

}


/* PRODUCTS */


.products {
    display: flex;
    justify-content: space-evenly;
    padding: 100px 0px;
    gap: 50px;
    flex-wrap: wrap;
}

.product-item img {
    max-width: 400px;
    margin-bottom: 50px;
    filter: drop-shadow(25px 25px 0px #26203f);
    /* padding: 50px; */
}

.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item p {
    font-size: 20px;
    font-weight: 700;
}


/* TEAM */

.team {
    padding: 200px 0px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: space-evenly;
    background-color: whitesmoke;
}

.member {
    display: flex;
    flex-direction: column;
    justify-content: end;
    filter: drop-shadow(25px 25px 0px #26203f);
    background-color: rgba(137, 43, 226, 0.63);
    width: 300px;
    height: 300px;
    transition: 300ms;
    padding: 30px;
}

.member:hover {
    background-color: blueviolet;
    filter: drop-shadow(5px 5px 0px #26203f);
}

.t-member-1 {
    background-image: url(./images/member-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;

}

.t-member-2 {
    background-image: url(./images/member-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-blend-mode: soft-light;

}

.t-member-3 {
    background-image: url(./images/member-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: soft-light;

}

.m-title {
    padding-left: 20px;
    font-weight: 700;
    color: whitesmoke;
    font-size: 25px;
    margin-bottom: 0px;
}

.m-role {
    padding-left: 25px;
    color: whitesmoke;
    font-size: 15px;
    margin-top: 0px;
}


/* FOOTER */

footer {
    background-color: blueviolet;
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}

footer p {
    color: whitesmoke;
}


/* COMPONENTS */

.btn {
    text-align: center;
    width: 250px;
    padding: 20px 40px;
    border-radius: 0px;
    transition: 300ms;
}

.btn-small {
    padding: 15px 5px;
    width: 120px;
}

.btn-primary {
    color: whitesmoke;
    border: 2px solid blueviolet;
    background-color: blueviolet;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));
    /* background-color: rgba(245, 245, 245, 0.185); */
}

.btn-secondary {
    text-align: center;
    border-radius: 0px;
    color: white;
    width: 250px;
    border: 2px solid rgba(255, 255, 255, 0);
    background-color: black;
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));

}

.btn-standard {
    text-align: center;
    border-radius: 0px;
    color: white;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    filter: drop-shadow(5px 5px 15px rgba(0, 0, 0, 0.2));

}

.btn:hover {
    color: whitesmoke;
    background-color: rgb(131, 131, 255);
    border: 2px solid rgba(255, 255, 255, 0);
}

li a:hover {
    cursor: pointer;
    color: rgb(188, 121, 250);
    text-decoration: underline;
}



